@model IEnumerable<WebApplication7.Controllers.employee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.employee_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.employee_location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.employee_position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.employee_status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.employee_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.employee_location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.salary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.employee_position)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.employee_status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.employee_number }) |
            @Html.ActionLink("Details", "Details", new { id=item.employee_number }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.employee_number })
        </td>
    </tr>
}

</table>
